<div>
    <h2 id="page-heading">
        <span jhiTranslate="paizounApp.teamUser.home.title">Team Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-team-user" [routerLink]="['/team-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="paizounApp.teamUser.home.createLabel">
            Create a new Team User
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="teamUsers?.length === 0">
        <span jhiTranslate="paizounApp.teamUser.home.notFound">No teamUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="teamUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="paizounApp.teamUser.userLogin">User Login</span></th>
                    <th scope="col" ><span jhiTranslate="paizounApp.teamUser.teamId">Team Id</span></th>
                    <th scope="col" ><span jhiTranslate="paizounApp.teamUser.joinDate">Join Date</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teamUser of teamUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/team-user', teamUser.id, 'view']">{{ teamUser.id }}</a></td>
                    <td>{{ teamUser.userLogin }}</td>
                    <td>{{ teamUser.teamId }}</td>
                    <td>{{ teamUser.joinDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/team-user', teamUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/team-user', teamUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(teamUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
